@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #100606;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans, Arial), sans-serif;
}